{% extends 'base.html' %}
{% block content %}
<table class="table">
    <thead>
        <tr>
          <th scope="col">Ver QR</th>
          <th scope="col">Url</th>
          <th scope="col">Creación</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for qr_data in data %}
        <tr>
          <th scope="row">
            <a class="link" href="/qr/stats/{{qr_data.id}}">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </th>
          <td>
            <a target="_blank" href="{{qr_data.url}}">{{qr_data.tag}}</a>
          </td>
          <td>{{qr_data.created_at.strftime('%Y-%m-%d %H:%M')}}</td>
          <td class="link">
            <form action="{{ url_for('delete_qr', qr_id=qr_data.id) }}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este QR?');">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-sm btn-danger">
                  <i class="fas fa-trash-alt"></i>
                </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock %}